<h1 style="margin-top: 20px; margin-left: 20px;">Stupid Questions with coach</h1>
<form action="/answer" data-turbo="false" style="margin-top: 20px; margin-left: 20px; ">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Ask the coach a Question</label>
    <input type="text" name="answer" placeholder="Your Question">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask!</button>
</form>
